<!DOCTYPE html>
<html>
<head>
<title>Payment</title>

<style>
body{
    font-family:Arial;
    text-align:center;
    background:#0f172a;
    color:white;
}

.payment-box{
    background:white;
    color:black;
    width:420px;
    margin:auto;
    padding:25px;
    border-radius:12px;
}

button{
    padding:10px 20px;
    border:none;
    border-radius:5px;
    background:#dc3545;
    color:white;
    cursor:pointer;
}
</style>

</head>

<body>

<h1>💳 Payment</h1>

<div class="payment-box">

<h3>Invoice</h3>

<p><b>Seats:</b> {{ seats }}</p>

<p><b>No. of Tickets:</b> {{ ticket_count }}</p>
<p><b>Price per Ticket:</b> ₹{{ price_per_ticket }}</p>

<hr>

<p><b>Subtotal:</b> ₹{{ subtotal }}</p>
<p><b>GST (18%):</b> ₹{{ gst }}</p>

<hr>

<h3>Total: ₹{{ total }}</h3>

<button id="pay-btn">Pay with Razorpay</button>

</div>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>
var options = {
    "key": "rzp_test_SdcdrsUYh4HLqZ",
    "amount": "{{ order.amount }}",
    "currency": "INR",
    "order_id": "{{ order.id }}",

    "handler": function (response) {
        window.location.href =
            "/success?payment_id=" + response.razorpay_payment_id +
            "&show_id={{ show_id }}" +
            "&seats={{ seats }}";
    }
};

var rzp = new Razorpay(options);

document.getElementById('pay-btn').onclick = function(e){
    rzp.open();
    e.preventDefault();
}
</script>

</body>
</html>